/*fuente normal*/
@font-face {
    font-family: 'Assistant';
    src: url('../fonts/static/Assistant-Regular.ttf');
}

/*fuente negrita*/
@font-face {
    font-family: 'Assistan Bold';
    src: url('../fonts/static/Assistant-Bold.ttf');
}