
/* Página de estilos base importada */
@import url('styles-base.css');


/*=============================================
= Estilos específicos de la página addCliente =
=============================================*/

/*=============================================
=            Estilos móvil            =
=============================================*/

fieldset#fondo{
    background-color: #D9D9D9;
    min-height: 60vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-family: var(--fam-fuente-menu);
    border-radius: 10px;
    gap: 20px;
    border: none;
    box-shadow: 5px 5px 10px var(--col-fondo-header);
}

fieldset p:first-of-type{
    margin-top: 10px;
}

fieldset p:last-of-type{
    margin-bottom: 10px;
}

.controles input, .controles label{
    display: block;
    width: 30vh;
    height: 30px;
}

.controles input{
    box-shadow: 2px 2px 5px var(--col-fondo-header);
    border: none;
}

.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--col-fondo-header);
    color: var(--col-fuente-menu);
    width: 30vh;
    height: 50px;
    border-radius: 10px;
    font-family: var(--fam-fuente-menu);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;
    font-size: 12px;
    box-shadow: 5px 5px 10px var(--col-fondo-header);
    border: none;
}

a:hover, input[type="submit"]:hover{
    color: var(--col-fondo-header);
    background-color: var(--col-fuente-menu);
    font-weight: bold;
    border: 2px solid var(--col-fondo-header);
}

/*=====  End of Estilos móvil  ======*/


/*=============================================
=            Media queries            =
=============================================*/

/*=============================================
=            Táblet y pantalla normal            =
=============================================*/

@media screen and (min-width: 768px) {
    fieldset#fondo{
        width: 60vh;
        gap: 30px;
    }
    .boton{
        width: 50vh;
    }
    .controles label, .controles input{
        width: 50vh;
    }
}

/*=====  End of Táblet y pantalla normal  ======*/

/*=====  End of Media queries  ======*/

/*=====  End of Estilos específicos de la página addCliente  ======*/

