
/* Página de estilos base importada */
@import url('../css/styles-base.css');


/*==================================================
= Estilos específicos de la página listado clientes =
====================================================*/

/*=============================================
=            Estilos móvil            =
=============================================*/

section#fondo{
    background-color: rgba(217, 217, 217, .75);
    min-height: 60vh;
    height: fit-content;
    /* min-width: 30vh; */
    width: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fam-fuente-menu);
    border-radius: 10px;
    gap: 20px;
    box-shadow: 5px 5px 10px var(--col-fondo-header);
}

table#web{
    display: none;
}

table#movil{
    width: 30vh;
}

table#movil, table#movil th, table#movil td, table#movil tr{
    border: 1px solid var(--col-fondo-header);
    border-collapse: collapse;
}

table#movil th{
    background-color: var(--col-fuente-menu);
}

/*=====  End of Estilos móvil  ======*/

/*=====  End of Estilos específicos de la página listado clientes  ======*/

