
/* Página de estilos base importada */
@import url(/src/front/css/styles-base.css);


/*=============================================
= Estilos específicos de la página index.html =
=============================================*/

/*=============================================
=            Estilos móvil            =
=============================================*/

.botones{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.botones a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--col-fondo-header);
    color: var(--col-fuente-menu);
    width: 30vh;
    height: 50px;
    border-radius: 10px;
    font-family: var(--fam-fuente-menu);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;
}

.botones a:hover{
    color: var(--col-fondo-header);
    background-color: var(--col-fuente-menu);
    font-weight: bold;
    border: 2px solid var(--col-fondo-header);
}

/*=====  End of Estilos móvil  ======*/


/*=============================================
=            Media queries            =
=============================================*/

@media screen and (min-width: 768px){

    .botones a{
        width: 50vh;
        transition: all .5s;
    }
}

/*=====  End of Media queries  ======*/


/*=====  End of Estilos específicos de la página index.html  ======*/